<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EthanTrickOrTreat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F1827161FA52B2400E641A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F18272A1FA52B2400E641A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1827351FA52B2500E641A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
